<div class="container">
    <div class="inner-container">
        <form [formGroup]="this.formGroup">
            <div class="form-control">
                <label for="email"> {{ this.authenticationLocaleService.emailLocale | translate }} </label>
                <input type="email" formControlName="email">
            </div>
            <div class="form-control">
                <label for="password"> {{ this.authenticationLocaleService.passwordLocale | translate }} </label>
                <input type="password" formControlName="password">
            </div>
            <div class="form-divider"></div>
            <div class="form-action">
                <button type="submit" [disabled]="this.isValid()" (click)="this.save()"> {{
                    this.authenticationLocaleService.emailLocale | translate
                    }}</button>
            </div>
        </form>
    </div>
</div>