.container {
    width: 100vw;
    min-height: 100vh;

    .inner-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: inherit;

        .row {
            display: flex;
            flex-direction: column;
        }
    }
}