.container {
    width: 100vw;
    height: auto;

    .inner-container {
        width: inherit;
        height: inherit;
        padding: 24px 28px;

        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .col {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 16px;

                fa-icon {
                    cursor: pointer;
                }
            }
        }
    }
}